---
# This is the Front Matter block
---
// Settings: Global variables, site-wide settings, config switches, etc.
// Tools: Site-wide mixins and functions.
// Generic: Low-specificity, far-reaching rulesets (e.g. resets).
// Base: Unclassed HTML elements (e.g. a {}, blockquote {}, address {}).
// Objects: Objects, abstractions, and design patterns (e.g. .media {}).
// Components: Discrete, complete chunks of UI (e.g. .carousel {}). This is the one layer that inuitcss doesn’t get involved with.
// Trumps: High-specificity, very explicit selectors. Overrides and helper classes (e.g. .hidden {}).
/**
 * Settings
 */
@import "../bower_components/inuit-defaults/settings.defaults";
@import "settings.global";
@import "settings.colours";
@import "../bower_components/inuit-responsive-settings/settings.responsive";
@import "../bower_components/inuit-mixins/tools.mixins";

/**
 * Tools
 */
@import "../bower_components/inuit-functions/tools.functions";
@import "../bower_components/inuit-responsive-tools/tools.responsive";
@import "../bower_components/inuit-tools-widths/tools.widths";
@import "tools.mixins";
/**
 * Generic
 */
@import "../bower_components/inuit-normalize/generic.normalize";
@import "../bower_components/inuit-box-sizing/generic.box-sizing";
/**
 * Base
 */
@import "../bower_components/inuit-page/base.page";
@import "base.page";
@import "../bower_components/inuit-headings/base.headings";
@import "../bower_components/inuit-lists/base.lists";
@import "../bower_components/inuit-images/base.images";
@import "../bower_components/inuit-paragraphs/base.paragraphs";

@import "base.type";
/**
 * Objects
 */
$inuit-btn-color: $color-blue;
$inuit-btn-background: $color-white;
$inuit-btn-radius: $brand-round;
$inuit-enable-btn--small: true;
$inuit-enable-btn--large: true;
$inuit-enable-btn--full: true;
@import "../bower_components/inuit-buttons/objects.buttons";
@import "components.buttons";


$inuit-enable-layout--rev: true;
$inuit-enable-layout--small: true;
@import "../bower_components/inuit-layout/objects.layout";
@import "objects.wrappers";

$inuit-enable-block--small: true;
$inuit-enable-block--flush: true;
$inuit-enable-block--right: true;
@import "../bower_components/inuit-block/objects.block";
@import "components.block";

@import "../bower_components/inuit-box/objects.box";

@import "components.main-nav";
@import "components.boxes";
@import "components.header";
@import "components.footer";
@import "components.hero";

/**
 * Trumps
 */
 @import "../bower_components/inuit-clearfix/trumps.clearfix";
 @import "../bower_components/inuit-spacing/trumps.spacing";
 $inuit-enable-responsive-margins--none: true;
 $inuit-enable-responsive-paddings--none: true;
 $inuit-enable-responsive-paddings: true;
 $inuit-enable-responsive-paddings--tiny: true;
 $inuit-enable-responsive-paddings--small: true;
 $inuit-enable-responsive-paddings--large: true;
 $inuit-enable-responsive-paddings--huge: true;
 $inuit-enable-responsive-margins: true;
 $inuit-enable-responsive-margins--tiny: true;
 $inuit-enable-responsive-margins--small: true;
 $inuit-enable-responsive-margins--huge: true;
 @import "../bower_components/inuit-spacing-responsive/trumps.spacing-responsive";
@import "../bower_components/inuit-clearfix/trumps.clearfix";
$inuit-use-fractions: false;
@import "../bower_components/inuit-widths/trumps.widths";
@import "../bower_components/inuit-widths-responsive/trumps.widths-responsive";
