// SETTINGS


//@import "settings/settings.config";
@import "../bower_components/inuitcss/settings/settings.core";

$mq-breakpoints: (
mobile:  320px,
tablet:  720px,
desktop: 980px,
wide:    1200px
) !default;

@import "../bower_components/sass-mq/mq";
@import "settings/settings.colours";

// TOOLS
@import "../bower_components/inuitcss/tools/tools.font-size";
@import "../bower_components/inuitcss/tools/tools.clearfix";
@import "../bower_components/sass-mq/mq";
//@import "tools/tools.aliases";

// GENERIC
@import "../bower_components/inuitcss/generic/generic.box-sizing";
@import "../bower_components/inuitcss/generic/generic.normalize";
@import "../bower_components/inuitcss/generic/generic.reset";
@import "../bower_components/inuitcss/generic/generic.shared";

// ELEMENTS
@import "../bower_components/inuitcss/elements/elements.images";
@import "../bower_components/inuitcss/elements/elements.page";
@import "../bower_components/inuitcss/elements/elements.headings";
@import "elements/elements.page";
@import "elements/elements.links";
@import "elements/elements.type";

// OBJECTS
@import "../bower_components/inuitcss/objects/objects.layout";
@import "../bower_components/inuitcss/objects/objects.media";
@import "../bower_components/inuitcss/objects/objects.flag";
@import "../bower_components/inuitcss/objects/objects.list-bare";
@import "../bower_components/inuitcss/objects/objects.list-inline";
@import "../bower_components/inuitcss/objects/objects.box";
@import "../bower_components/inuitcss/objects/objects.block";
@import "../bower_components/inuitcss/objects/objects.table";
@import "../bower_components/inuitcss/objects/objects.wrapper";
@import "../bower_components/inuitcss/objects/objects.ratio";

// COMPONENTS
//@import "components/components.buttons";
@import "components/components.page-head";
@import "components/components.hero";
@import "components/components.footer";
@import "components/components.dropdown";
@import "components/components.nav";
@import "components/components.buttons";
@import "components/components.modal";
@import "components/components.box";
//@import "components/components.site-nav";
//@import "components/components.ads";
//@import "components/components.promo";

// UTILITIES
@import "../bower_components/inuitcss/utilities/utilities.widths";
@import "../bower_components/inuitcss/utilities/utilities.headings";
@import "../bower_components/inuitcss/utilities/utilities.spacings";

$inuit-responsive-spacing-directions: $inuit-spacing-directions !default;
$inuit-responsive-spacing-properties: $inuit-spacing-properties !default;
$inuit-responsive-spacing-sizes: $inuit-spacing-sizes !default;

@import "../bower_components/inuitcss/utilities/utilities.responsive-spacings";
@import "utilities/utilities.visibility";
@import "utilities/utilities.flex";
@import "utilities/utilities.margins";
@import "utilities/utilities.backgrounds";
