---
id: 25099
title: Hidden Tours
date: 2015-05-11T15:47:17+00:00
layout: page
permalink: /product-category/hidden-tours/
---


  <p>Insider London offers a medley of alternative and unusual walking tours of London. Our Street Art Tour includes a wonderful collection of murals and street art in East London while our historical guided tours delve into the history of drinking, gangs, and debauchery in the city. The original London Underground tour is perfect for those interested in the stories behind this 150 year old British institution while our Royal Living and Royal Shopping Tour is for those who have a fascination with the lives of London’s aristocrats. </p>
<div class="layout">
{% assign posts = (site.categories.hidden | sort: 'date') %}
{% for post in posts %}
  {% assign loopindex = forloop.index | modulo: 4 %}
  {% include category-tour.html %}

{% endfor %}
</div>
