---
title: Hidden Tours
date: '2015-05-11 15:47:17'
id: 25099
layout: page
permalink: "/product-category/hidden-tours/"

---
<div class="container archive tax-product_cat term-tours term-75 woocommerce woocommerce-page wpb-js-composer js-comp-ver-4.5 vc_responsive">

<section id="primary" class="content-full-width">
  <p>Insider London offers a medley of alternative and unusual walking tours of London. Our Street Art Tour includes a wonderful collection of murals and street art in East London while our historical guided tours delve into the history of drinking, gangs, and debauchery in the city. The original London Underground tour is perfect for those interested in the stories behind this 150 year old British institution while our Royal Living and Royal Shopping Tour is for those who have a fascination with the lives of London’s aristocrats. </p>
<ul class="products">

{% assign posts = (site.categories.hidden | sort: 'date') %}
{% for post in posts %}
  {% assign loopindex = forloop.index | modulo: 4 %}
  {% include category-tour.html %}

{% endfor %}
</ul>
</section>
</div>
