# Legacy IL 301 redirects
redirect 301 /faqs/ http://www.insider-london.co.uk/
redirect 301 /silicon-roundabout/ http://www.insider-london.co.uk/product/silicon-roundabout-and-tech-city/
redirect 301 /submit-tip/ http://www.insider-london.co.uk/
redirect 301 /tourism-dinner/ http://www.insider-london.co.uk/
redirect 301 /christmas-parties/ http://www.insider-london.co.uk/
redirect 301 /london-design-tours/ http://www.insider-london.co.uk/product-category/tours/
redirect 301 /christmas-party-bookings/ http://www.insider-london.co.uk/
redirect 301 /olu-thank-page/ http://www.insider-london.co.uk/
redirect 301 /blog-application-form/ http://www.insider-london.co.uk/blog-2/
redirect 301 /location/blackfriars-station/ http://www.insider-london.co.uk/
redirect 301 /london-student-tour/ http://www.insider-london.co.uk/product-category/tours/
redirect 301 /alternative-london-tours/ http://www.insider-london.co.uk/product-category/tours/
redirect 301 /test/ http://www.insider-london.co.uk/
redirect 301 /architecture-planning-london-tour/ http://www.insider-london.co.uk/product-category/tours/
redirect 301 /bespoke-london-walking-tours/ http://www.insider-london.co.uk/
redirect 301 /business-visits-london-students/ http://www.insider-london.co.uk/product/in-depth-business-tour/
redirect 301 /sightseeing-london-walking-tours/ http://www.insider-london.co.uk/product-category/tours/
redirect 301 /london-tours-operations-assistant/ http://www.insider-london.co.uk/
redirect 301 /london-architecture-walking-tours/ http://www.insider-london.co.uk/product/modern-architecture-tour/
redirect 301 /business-experience-london-tour/ http://www.insider-london.co.uk/product/in-depth-business-tour/
redirect 301 /hen-weekends-london-tours/ http://www.insider-london.co.uk/
redirect 301 /sustainability-experience-london-tour/ http://www.insider-london.co.uk/product/sustainable-london-architecture-tour/
redirect 301 /london-walking-tours-london/ http://www.insider-london.co.uk/contact-us/
redirect 301 /technology-experience-london-tour/ http://www.insider-london.co.uk/
redirect 301 /lead-tour-guides-wanted/ http://www.insider-london.co.uk/
redirect 301 /london-underground-tube-tours/ http://www.insider-london.co.uk/product/london-underground/
redirect 301 /london-sightseeing-graffiti-walking-tours/ http://www.insider-london.co.uk/product/street-art/
redirect 301 /weird-london-murders-walking-tours/ http://www.insider-london.co.uk/product/the-death-and-debauchery-tour/
redirect 301 /web-andor-graphic-designer-wanted/ http://www.insider-london.co.uk/
redirect 301 /london-retail-restaurant-design-tours/ http://www.insider-london.co.uk/product/retail-design/
redirect 301 /quirky-weird-london-walking-tours/ http://www.insider-london.co.uk/product/quirky-tour/
redirect 301 /london-pub-tours-drinking-tour/ http://www.insider-london.co.uk/product/history-of-drinking-and-pubs/
redirect 301 /weekend-in-london-walking-tours/ http://www.insider-london.co.uk/
redirect 301 /london-graffiti-artists-walking-tours/ http://www.insider-london.co.uk/product/street-art/
redirect 301 /silicon-roundabout-tech-city-tour/ http://www.insider-london.co.uk/product/silicon-roundabout-and-tech-city/
redirect 301 /sustainable-green-building-london-tours-2/ http://www.insider-london.co.uk/product/sustainable-london-architecture-tour/
redirect 301 /kings-cross-innovation-tour/ http://www.insider-london.co.uk/
redirect 301 /alternative-london-walking-tours-unusual-londongifts/ http://www.insider-london.co.uk/
redirect 301 /itours_green.html http://www.insider-london.co.uk/
redirect 301 /eco_green_london_tour.html http://www.insider-london.co.uk/
redirect 301 /best_gourmet_food_london_tour.html http://www.insider-london.co.uk/
redirect 301 /the-history-pub-drinking/ http://www.insider-london.co.uk/product/history-of-drinking-and-pubs/
redirect 301 /the-history-pub-drinking/ http://www.insider-london.co.uk/product/history-of-drinking-and-pubs/
redirect 301 /eccentric_quirky_london_tour.html http://www.insider-london.co.uk/product/quirky-tour/
redirect 301 /the-history-pub-drinking/ http://www.insider-london.co.uk/product/history-of-drinking-and-pubs/
redirect 301 /blog-2/ http://www.insider-london.co.uk/blog/
redirect 301 /product/cutting-edge-green/	http://www.insider-london.co.uk/product/cutting-edge-green-tour/
redirect 301 /product/10-gift-voucher/	http://www.insider-london.co.uk/gift-vouchers/
redirect 301 /product/london-underground/	http://www.insider-london.co.uk/product/london-underground-and-tube-tour/
redirect 301 /product/finance-walking-tour-of-london/	http://www.insider-london.co.uk/product/london-finance-walking-tour/
redirect 301 /product/silicon-roundabout-and-tech-city/	http://www.insider-london.co.uk/product/silicon-roundabout-and-tech-city-tour/
redirect 301 /product/london-underground-tube-tour/	http://www.insider-london.co.uk/product/london-underground-and-tube-tour/
redirect 301 /product/famous-ghosts-and-infamous-murders-walking-tour/	http://www.insider-london.co.uk/product/famous-ghosts-and-infamous-murders/
redirect 301 /product/street-art-tour/	http://www.insider-london.co.uk/product/street-art/
redirect 301 /product/retail-desi	http://www.insider-london.co.uk
redirect 301 /product/history-of	http://www.insider-london.co.uk
redirect 301 /product/modern-architecture-tour/feed/	http://www.insider-london.co.uk/product/modern-architecture-tour/
redirect 301 /product/modern	http://www.insider-london.co.uk
redirect 301 /product/london-underground/	http://www.insider-london.co.uk/product/london-underground-and-tube-tour/
redirect 301 /product/silicon-roundabout-and-tech-city/	http://www.insider-london.co.uk/product/silicon-roundabout-and-tech-city-tour/
redirect 301 /shop/feed/?product_cat=gift-vouchers	http://www.insider-london.co.uk/gift-vouchers/

# End legacy 301s

<IfModule mod_rewrite.c>

RewriteEngine On

#Ignore Google verification file
RewriteRule ^google3d11bb01af91a5dc.html$ - [L]

# Redirect old category / tag pages
RewriteCond %{REQUEST_URI} ^/(category|tag)
RewriteRule ^(category|tag)/(.*) /blog/ [R=301,L]

RewriteCond %{REQUEST_URI} ^/[0-9]+/[0-9]+/[0-9]+
RewriteRule ^[0-9]+/[0-9]+/[0-9]+/([^/]+)/?$ /$1 [R=301,L]

# Removed this as block blog pagination 
#RewriteCond %{REQUEST_URI} ^/blog/[0-9a-z\-]
#RewriteCond %{REQUEST_URI} !^blog/page
#RewriteRule ^blog/(.+) /$1 [R=301,L]

RewriteCond %{THE_REQUEST} ^(GET|HEAD)\ /.+\.html\ HTTP
RewriteCond %{REQUEST_FILENAME} !^google
RewriteRule ^(.+)\.html$ http://%{HTTP_HOST}/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^.+$ %{REQUEST_FILENAME}.html [R=301,L]

</IfModule>

<ifModule mod_headers.c>
Header set Connection keep-alive
</ifModule>



ErrorDocument 404 /404.html

ExpiresActive On
ExpiresByType image/jpg "access plus 1 year"
ExpiresByType image/jpeg "access plus 1 year"
ExpiresByType image/gif "access plus 1 year"
ExpiresByType image/png "access plus 1 year"
ExpiresByType text/css "access plus 1 month"
ExpiresByType application/pdf "access plus 1 month"
ExpiresByType application/javascript "access plus 1 month"
ExpiresByType application/x-javascript "access plus 1 month"
ExpiresByType application/x-shockwave-flash "access plus 1 month"
ExpiresByType image/x-icon "access plus 1 year"
ExpiresDefault "access plus 2 days"

AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript
