# Legacy IL 301 redirects

redirect 301 /tours/ /london/educational-tours/
redirect 301 /tours/educational-tours/ /london/educational-tours/
redirect 301 /about-us/ /what-we-do/
redirect 301 /our-clients-&-testimonials/ /what-we-do/
redirect 301 /tours/london-underground-and-tube-tour/ /london/educational-tours/london-underground-and-tube-tour/
redirect 301 /tours/london-finance-walking-tour/ /london/educational-tours/modern-architecture-tour/
redirect 301 /tours/modern-architecture-tour/ /london/educational-tours/modern-architecture-tour/
redirect 301 /tours/silicon-roundabout-and-tech-city-tour/ /london/educational-tours/silicon-roundabout-and-tech-city-tour/
redirect 301 /tours/canary-wharf-finance-tour/ /london/educational-tours/london-finance-walking-tour/
redirect 301 /tours/famous-ghosts-and-infamous-murders/ /london/cultural-experiences/famous-ghosts-and-infamous-murders/
redirect 301 /tours/sustainable-london-architecture-tour/ /london/educational-tours/sustainable-london-architecture-tour/
redirect 301 /tours/cutting-edge-green-tour/ /london/educational-tours/sustainable-london-architecture-tour/
redirect 301 /tours/retail-design/ /london/educational-tours/retail-design/
redirect 301 /tours/ /london/educational-tours/
redirect 301 /tours/historical-walking-tours/ /london/cultural-experiences/
redirect 301 /tours/quirky-tour/ /london/cultural-experiences/quirky-tour/
redirect 301 /tours/kings-cross-regeneration/ /london/educational-tours/kings-cross-regeneration/
redirect 301 /tours/the-death-and-debauchery-tour/ /london/cultural-experiences/famous-ghosts-and-infamous-murders/
redirect 301 /tours/street-art-tour-london/ /london/educational-tours/street-art-tour-london/
redirect 301 /tours/history-of-drinking-and-pubs/ /london/cultural-experiences/history-of-drinking-and-pubs/
redirect 301 /tours/east-end-retail-design-tour/ /london/educational-tours/retail-design/
redirect 301 /tours/educational-walking-tours/ /london/educational-tours/
redirect 301 /tours/brixton-retail-design-tour/ /london/educational-tours/retail-design/
redirect 301 /tours/olympic-park-tour/ /london/educational-tours/kings-cross-regeneration/
redirect 301 /tours/olympic-park-tour/ /london/educational-tours/kings-cross-regeneration/
redirect 301 /tours/european-programme/ /europe/

# End blog redirects

<IfModule mod_rewrite.c>

RewriteEngine On

#-----------------redirect to https-----------------
# RewriteCond %{HTTPS} !on [OR]
# RewriteCond %{HTTP_HOST} !^www\. [NC]
# RewriteCond %{HTTP_HOST} !^dev\. [NC]
# RewriteCond %{HTTP_HOST} !^insider-london\. [NC]
# RewriteRule ^ https://www.insider-london.co.uk%{REQUEST_URI} [L,R=301,NE]



# Consider removing this.
RewriteCond %{THE_REQUEST} ^(GET|HEAD)\ /.+\.html\ https
RewriteCond %{REQUEST_FILENAME} !^google
RewriteRule ^(.+)\.html$ https://%{HTTP_HOST}/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^.+$ %{REQUEST_FILENAME}.html [R=301,L]

</IfModule>

<ifModule mod_headers.c>
Header set Connection keep-alive
</ifModule>


ErrorDocument 404 /404.html


  <ifModule mod_headers.c>
     Header unset ETag
     Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
     Header set Pragma "no-cache"
     Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
  </ifModule>

AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript
