# End blog Redirects

<IfModule mod_rewrite.c>

  RewriteEngine On

  RewriteRule ^tours/cutting-edge-green-tour/ /london/educational-tours/sustainable-london-architecture-tour/ [END,R=301]
  RewriteRule ^tours/the-death-and-debauchery-tour/ /london/cultural-experiences/famous-ghosts-and-infamous-murders/ [END,R=301]
  RewriteRule ^tours/canary-wharf-finance-tour/ /london/educational-tours/london-finance-walking-tour/ [END,R=301]
  RewriteRule ^tours/educational-walking-tours/ /london/educational-tours/ [END,R=301]
  RewriteRule ^tours/olympic-park-tour/$ /london/educational-tours/kings-cross-regeneration/ [END,R=301]
  RewriteRule ^tours/$ /london/educational-tours/ [END,R=301]
  RewriteRule ^tours/european-programme/ /europe/ [END,R=301]
  RewriteRule ^in-depth-business-visits/ /london/company-visits/ [END,R=301]
  RewriteRule ^tours/educational-tours/ /london/educational-tours/ [END,R=301]
  RewriteRule ^about-us/ /what-we-do/ [END,R=301]
  RewriteRule ^our-clients-&-testimonials/ /what-we-do/ [END,R=301]
  RewriteRule ^tours/london-underground-and-tube-tour/ /london/educational-tours/london-underground-and-tube-tour/ [END,R=301]
  RewriteRule ^london/educational-tours/london-underground-and-tube-tour/ /london/educational-tours/london-underground-tours/ [END,R=301]
  RewriteRule ^tours/london-finance-walking-tour/ /london/educational-tours/london-finance-walking-tour/ [END,R=301]
  RewriteRule ^tours/modern-architecture-tour/ /london/educational-tours/modern-architecture-tour/ [END,R=301]
  RewriteRule ^tours/silicon-roundabout-and-tech-city-tour/ /london/educational-tours/silicon-roundabout-and-tech-city-tour/ [END,R=301]
  RewriteRule ^tours/famous-ghosts-and-infamous-murders/ /london/cultural-experiences/famous-ghosts-and-infamous-murders/ [END,R=301]
  RewriteRule ^tours/sustainable-london-architecture-tour/ /london/educational-tours/sustainable-london-architecture-tour/ [END,R=301]
  RewriteRule ^tours/retail-design/ /london/educational-tours/retail-design/ [END,R=301]
  RewriteRule ^tours/historical-walking-tours/ /london/cultural-experiences/ [END,R=301]
  RewriteRule ^tours/quirky-tour/ /london/cultural-experiences/quirky-tour/ [END,R=301]
  RewriteRule ^tours/kings-cross-regeneration/ /london/educational-tours/kings-cross-regeneration/ [END,R=301]
  RewriteRule ^tours/street-art-tour-london/ /london/educational-tours/street-art-tour-london/ [END,R=301]
  RewriteRule ^tours/history-of-drinking-and-pubs/ /london/cultural-experiences/history-of-drinking-and-pubs/ [END,R=301]
  RewriteRule ^tours/east-end-retail-design-tour/ /london/educational-tours/retail-design/ [END,R=301]
  RewriteRule ^tours/brixton-retail-design-tour/ /london/educational-tours/retail-design/ [END,R=301]
  RewriteRule ^virtual-internships/ /online-education/virtual-internships/ [END,R=301]
  RewriteRule ^online-education/virtual-internships/ /online-education/company-projects/ [END,R=301]

  #Added 6th April 2020
  RewriteRule ^london/educational-tours/sustainable-london-artchitecture-tour/ /london/educational-tours/sustainable-london-architecture-tour/ [END,R=301]
  RewriteRule ^blog/kings-cross-innovation-tour/ /london/educational-tours/kings-cross-regeneration/ [END,R=301]
  RewriteRule ^kings-cross-innovation-tour/ /london/educational-tours/kings-cross-regeneration/ [END,R=301]
  RewriteRule ^blog/urban-bees-interview/ /blog/category/art-and-culture/ [END,R=301]
  RewriteRule ^londons-top-ten-skyscrapers-under-construction-in-2015/ /blog/category/architecture/ [END,R=301]
  RewriteRule ^blog/page/$ /blog/ [END,R=301]


  #-----------------Redirect to https-----------------
  RewriteCond %{HTTP_HOST} !^dev\.insider-london\.co\.uk [NC]
  RewriteCond %{HTTPS} off [OR]
  RewriteCond %{HTTP_HOST} !^www\. [NC]
  # RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
  # RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/[0-9a-zA-Z_-]+$
  # RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
  RewriteRule ^ https://www.insiderlondon.com%{REQUEST_URI} [L,NE,R=301]

  # Consider removing this.
  RewriteCond %{THE_REQUEST} ^(GET|HEAD)\ /.+\.html\ https
  RewriteCond %{REQUEST_FILENAME} !^google
  RewriteRule ^(.+)\.html$ https://%{HTTP_HOST}/$1 [R=301,L]

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME}.html -f
  RewriteRule ^.+$ %{REQUEST_FILENAME}.html [R=301,L]

</IfModule>

<ifModule mod_headers.c>
  Header set Connection keep-alive
</ifModule>

ErrorDocument 404 /404.html


<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresDefault "access plus 1 year"
  ExpiresByType text/html "access plus 0 seconds"
</IfModule>

<FilesMatch ".(js|css|html|htm|php|xml|svg)$">
  SetOutputFilter DEFLATE
</FilesMatch>
