---
layout: default
title: Alternative London Tours | Hidden London Tours
---
  <div class="hero">
      <img class="hero__image" src="/assets/images/P1040883.JPG"

          alt="View of St Paul Cathedrail framed by modern glass fronted buildings.">
        <div class="hero__content">
            <h1 class="hero__title lap-ph++ lap-pv+ desk-ph++ desk-pv++ palm-p--">
              COME AND DISCOVER THE WORLD OF LONDON’S HIDDEN TOURS
            </h1>
              <a class="btn btn--red" href="/product-category/tours/">
                VIEW ALL TOURS
              </a>
        </div>
      </div>
      <h2 style="text-align: center;">FEATURED TOURS</h2>
  <section class="wrapper">
      <div class="layout">{% for post in site.categories.featured %}<div class="layout__item u-1/4-desk u-1/2-lap">
          <div class="block block--flush lap-mb palm-mb">
                  <a class="block__image" href="{{ post.permalink }}" title="{{ post.title }}">
                    <img class="" src="{{ post.thumb }}" alt="" title="5103793738_5df66b09ba_o">
                  </a>
              <div class="block__body red-bg palm-p- lap-p- desk-p-">
                  <div class="block__tour">
                <h2 class="white">{{ post.title }}</h2>
                {% if post.price %}
                <p class="blue">£{{ post.price }} per person</p>
                {% endif %}
                <p>
                  <a class="btn" title="View details of the {{ post.title }} tour" href="{{ post.permalink }}">VIEW TOUR</a>
                </p>
              </div>
            </div>
          </div>
        </div><!-- -->{% endfor %}</div>
        <div class="text-centre palm-mb lap-and-up-mb">
          <img src="/assets/images/img-tour.png" alt="">
          <br />
          <a class="btn btn--view-all text-center" title="Tours" href="/product-category/tours/">
            VIEW ALL TOURS
          </a>
        </div>
  </section>

  <section class="homepage-intro">
    <div class="wrapper">
      <div class="layout layout--rev">
        <div class="layout__item u-2/4-desk u-2/5-lap">

          <h2 class="white">Premium Walking Tours in London</h2>
          <p>Insider London's guided walking tours introduce you to a new side of the city of London!</p>
          <p>At Insider London we offer a variety of alternative guided tours of London ideal for tourists, locals, students, school trips, private parties and corporate events. From the <a href="/product/london-underground-and-tube-tour/">Original London Underground Tour</a> to our exclusive <a href="/product/in-depth-business-tour/">In-Depth Business Insider Visits</a> based in the City of London, our highly acclaimed sightseeing tours introduce you to a brand new side of the city. Led by Insider London’s friendly and experienced tour guides, our walking tours uncover London's hidden secrets, peculiar treasures and fascinating history. A unique and unusual way to explore London, our private walking tours can even be adapted to your specific interests and arranged at a time to suit you. We also cater to large corporate events, student groups, private parties and special occasions.</p>
          <p><a class="btn btn--large btn--blue" href="/about-us/">READ MORE</a></p>
        </div><!--
--><div class="layout__item u-2/4-desk u-3/5-lap">
    <img class="palm-mv lap-mv desk-mv" src="/assets/images/img-welcome.png" class="vc_single_image-img attachment-full" alt="img-welcome">
        </div>
      </div>
    </div>
  </section>
