<header class="">
  <div class="o-wrapper">
    <a class="lap-and-up-mv-" title="London Walking Tours" href="/">
      <img alt="London Walking Tours" src="/assets/images/insider-logo-17062019.png" />
    </a>

    <nav class="utility-nav">
      <a class="utility-nav__link" href="/assets/insider-london-educational-tour-brochure.pdf" onclick="gtag('event', 'Click', { 'event_category': 'Brochure' });">Download brochure</a>
      <a class="utility-nav__link" href="/blog/">Blog</a>
      <a class="utility-nav__link" href="/about-us/">About Us</a>
      <a class="utility-nav__link" href="mailto:contact@insiderlondon.com" onclick="gtag('event', 'Click', { 'event_category': 'Email' });">Contact us</a><br />
      <!--a href="/about-us">
        <img src="/assets/images/2018tripcertexcel.svg" alt="tripadvisor2018certificate" width="84" height="84" class="badge" />
      </a-->
      </nav>
  </div>
<div style="background-color: #192e51">

    <nav class=" wrapper">

        <ul class="list-bare">
          <li class="site-nav__item">
            <a class="site-nav__link" href="/">Home</a>
          </li>
          <li class="site-nav__item">
            <a class="site-nav__link" href="/">Educational Tours</a>
          </li>
          <li class="site-nav__item">
            <a class="site-nav__link" href="/">Walking Tours</a>
          </li>
          <li class="site-nav__item">
            <a class="site-nav__link" href="/">Group Tours</a>
          </li>
          <li class="site-nav__item">
            <a class="site-nav__link" href="/tours/in-depth-business-tour/">Business Visits</a>
          </li>
          <li class="site-nav__item">
            <a class="site-nav__link" href="/tours/in-depth-business-tour/">Historical Tours</a>
          </li>
          <!-- <li class="site-nav__item site-nav__item--parent">
            <a class="site-nav__link" href="/about-us/">About Us</a>
            <ul class="sub-menu">
              <li class="">
                <a class="sub-menu__link" href="/our-clients-&-testimonials/">Our clients & testimonials</a>
              </li>
			  <li class="">
                <a class="sub-menu__link" href="/what-we-do/">What we do</a>
              </li>
              <li>
                <a class="sub-menu__link" href="/tour-guides/">Our team</a>
              </li>

            </ul>
          </li> -->



          <!--li class="site-nav__item site-nav__item--parent">
            <a class="site-nav__link" href="/tours/">Tours</a>
            <ul class="sub-menu">
              <li class="">
                <a class="sub-menu__link" href="/tours/historical-walking-tours/">Historical Walking Tours</a>
              </li>
              <li>
                <a class="sub-menu__link" href="/tours/educational-walking-tours/">Educational Walking Tours</a>
              </li>
              <li>
                <a class="sub-menu__link" href="/tours/in-depth-business-tour/">In-Depth Business Visits</a>
              </li>
			    <li>
                <a class="sub-menu__link" href="/tours/european-programme/">European Programme</a>
              </li>
            </ul>
          </li-->
        </ul>
        <button id="dt-menu-toggle" class="menu-toggle__button palm-mt--" type="button">
          Menu
        </button>

      <ul id="menu-main-menu" class="site-nav__list site-nav__list--mobile">
        <li class="site-nav__item">
          <a class="site-nav__link site-nav__link--mobile" href="/">Home</a>
        </li>

        <li class="site-nav__item">
          <a class="site-nav__link site-nav__link--mobile" href="/about-us/">About Us</a>
			<ul class="sub-menu">
              <li class="">
                <a class="site-nav__link" href="/our-clients-&-testimonials/">Our clients & testimonials</a>
              </li>
              <li>
                <a class="site-nav__link" href="/what-we-do/">What we do</a>
              </li>
              <li>
                <a class="site-nav__link" href="/tour-guides/">Our team</a>
              </li>
            </ul>
        </li>

        <li class="site-nav__item">
          <a class="site-nav__link site-nav__link--mobile" href="/tours/">Tours</a>
          <ul class="sub-menu">
            <li class="">
              <a class="site-nav__link" href="/tours/historical-walking-tours/">Historical Walking Tours</a>
            </li>
            <li>
              <a class="site-nav__link" href="/tours/educational-walking-tours/">Educational Walking Tours</a>
            </li>
            <li>
              <a class="site-nav__link" href="/tours/in-depth-business-tour/">In-Depth Business Visits</a>
            </li>
			<li>
              <a class="site-nav__link" href="/tours/european-programme/">European Programme</a>
            </li>
          </ul>
        </li>

        <li class="site-nav__item">
          <a class="site-nav__link" href="/gift-vouchers/">Gift Vouchers</a>
        </li>

        <li class="site-nav__item">
          <a class="site-nav__link site-nav__link--mobile" href="/contact-us/">Contact us</a>
        </li>

        <li class="site-nav__item">
          <a class="site-nav__link site-nav__link--mobile" href="/blog/">Blog</a>
        </li>

      </ul>
    </nav>
  </div>
  </header>
