{% if forloop.index > 1 %}-->{% endif %}<div class="layout__item u-1/4 u-1/3-lap u-1/2-palm">
  <div class="block block--flush">
      <a class="block__img" href="{{ post.url | prepend: site.baseurl }}">
        <img src="{{ post.thumb575x545 }}" alt=" {{ post.description }} " />
      </a>

    <div class="block__body">
      <h5>{{ counter }}
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h5> {% if post.price %}
      <p>
        <strong>From: £{{ post.price }}</strong>
      </p>
      {% endif %}
      <a class="viewtourbutton" href="{{ post.url }}">View</a>
    </div>
  </div>
</div>{% if forloop.last %}{% else %}<!--{% endif %}
