<p class="white">
  <strong class="white">@</strong>
  <a class="white" href="mailto:contact@insiderlondon.com" onclick="gtag('event', 'Click', { 'event_category': 'Contact', 'event_label':'{{ include.contactlabel }} - Email' });">
    contact@insiderlondon.com
  </a><br />
  <strong class="white">T</strong>
  <a class="white" href="tel:442071831055" onclick="gtag('event', 'Click', { 'event_category': 'Contact','event_label':'{{ include.contactlabel }} - Tel' });">
    +44 (0) 20 7183 1055
  </a><br />
  <strong class="white">M</strong>
  <a class="white" href="tel:447869678717" onclick="gtag('event', 'Click', { 'event_category': 'Contact', 'event_label':'{{ include.contactlabel }} - Tel' });">
    +44 (0)78 6967 8717
  </a>
</p>
