<footer id="footer">
  <div class="wrapper">
    <div class="contactblockclass lap-p desk-p+ ">
      <p id="title">CONTACT <span class="red">US</span></p>
      <p>Book your tours using the calendar, however if you have any other enquiries or questions please send us a message below and we will get in touch shortly. All tours can be arranged for private parties, if you wish to do so please contact us below
        or call us direct on T: +44 (0) 20 7183 1055 | M: +44 7869 678 717</p>
      <div role="form" class="wpcf7" id="wpcf7-f3500-o1" lang="en-US" dir="ltr">
        <form accept-charset="UTF-8" action="https://formkeep.com/f/01637db683d8" method="POST">
          <div class="layout">
            <div class="layout__item u-1/2-lap u-1/2-desk">
              <input name="your-name" required value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="NAME" type="text">
              <input name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="EMAIL" type="email" required>
            </div><!--
--><div class="layout__item u-1/2-lap u-1/2-desk">

              <input required name="tel-895" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel" aria-required="true" aria-invalid="false" placeholder="TEL" type="tel">
              <input required name="your-subject" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="SUBJECT" type="text">
            </div><!--
  --><div class="layout__item u-1/1-lap u-1/1-desk">
              <textarea required name="your-message" cols="40" rows="5" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="MESSAGE">
              </textarea>
            </div>
          </div>
          <p>
            <button value="SEND" class="btn btn--red btn--full" type="submit">Send enquiry</button>
          </p>
        </form>
      </div>
      <h3>CITY OF LONDON</h3>
    </div>
  </div>
    <div class="footer-widgets-wrapper white">
      <div class="wrapper">
        <div class="layout">
          <div class="layout__item u-1/4-lap u-1/4-desk">
            <h4 class="white">INFORMATION</h4>
            <ul class="product-categories">
              <li>
                <a href="/blog/">Blog</a>
              </li>
              <li>
                <a href="/contact-us/">Contact Us</a>
              </li>
              <li>
                <a href="/terms-of-business/">Terms of Business</a>
              </li>
              <li>
                <a href="/tour-guides/">Tour Guides</a>
              </li>
            </ul>
          </div><!--
--><div class="layout__item u-1/4-lap u-1/4-desk">
            <h4 class="white">Tour Sectors</h4>
            <ul class="product-categories">
              <li>
                <a href="/product-category/tours/" title="View all products under Tours">All Tours</a>
              </li>
              <li>
                <a href="/product-category/educational-tours/" title="View all products under Educational Tours">Educational Tours</a>
              </li>
              <li>
                <a href="/product-category/hidden-tours/" title="View all products under Hidden Tours">Hidden Tours</a>
              </li>
              <li>
                <a href="/gift-vouchers/" title="View all products under Gift Vouchers">Gift Vouchers</a>
              </li>
              <li>
                <a href="/special-occasions/" title="View all products under Tours">Occasions</a>
              </li>
            </ul>
          </div><!--
--><div class="layout__item u-1/4-lap u-1/4-desk">
            <h4 class="white">CONTACT US</h4> T: +44 (0) 20 7183 1055
            <br/> M: +44 7869 678 717
            <br/> E: contact@insider-london.co.uk
            <br/> A: Insider London Ltd, 17 Hanover Square, London, W1S 1HU
          </div><!--
--><div class="layout__item u-1/4-lap u-1/4-desk">
            <ul class="dt-sc-social-icons">
              <li class="facebook">
                <a target="_blank" href="http://www.facebook.com/insiderlondon" class="fa fa-facebook"></a>
              </li>
              <li class="twitter">
                <a target="_blank" href="https://twitter.com/#!/insiderlondon" class="fa fa-twitter"></a>
              </li>
              <li class="pinterest">
                <a target="_blank" href="https://www.pinterest.com/insiderlondon/" class="fa fa-pinterest"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright">
      <div class="wrapper">
        <p class="left">All Rights Reserved © Insider London</p>
      </div>
    </div>

</footer>
<!-- footer ends here -->
