<footer id="footer" class="u-padding-top u-padding-bottom-large u-padding-bottom@tablet">
  <div class="o-wrapper u-padding-left-small u-padding-right-small u-padding-left@desktop u-padding-right@desktop">
    <!-- <div class="contactblockclass palm-p- lap-p desk-p+ ">
      <h1 class="palm-mt0 lap-and-up-mt0">CONTACT <span class="red">US</span></h1>
      <p>For all other and to start creating your unique Insider package, contact us using the form below or call us directly: <strong>T</strong>: +44 (0) 20 7183 1055 <strong>M</strong>: +44 7869 678 717
      </p>
      <div role="form" class="wpcf7" id="wpcf7-f3500-o1" lang="en-US" dir="ltr">
        <form accept-charset="UTF-8" action="https://formkeep.com/f/3abf1601f5c2" method="POST">
            <div class="o-layout">
            <div class="o-layout__item u-1/2-lap u-1/2-desk">
              <input name="your-name" required value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="NAME" type="text">
              <input name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="EMAIL" type="email" required>
            </div><div class="o-layout__item u-1/2-lap u-1/2-desk">
              <input required name="tel-895" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel" aria-required="true" aria-invalid="false" placeholder="TEL" type="tel">
              <input required name="your-subject" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="SUBJECT" type="text">
            </div>
            <div class="o-layout__item u-1/1-lap u-1/1-desk">
              <textarea required name="your-message" cols="40" rows="5" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="MESSAGE"></textarea>
            </div>
          </div>
          <div class="newsletter-opt-in">
            <input class="subscribe" name="newsletter-opt-in" id="subscribe" type="checkbox" value="yes" />
            <label for="subscribe">
              I would like to receive news and offers from Insider London.
            </label>
          </div>
          <p class="small">
            Your information is processed and stored in accordance to our <a href="/privacy-policy" target="_blank">privacy policy</a>.
          </p>
          <p>
            <button value="SEND" class="btn btn--red btn--full" type="submit">Send enquiry</button>
          </p>
        </form>
      </div>
      <h3>CITY OF LONDON</h3>
    </div>
  </div> -->
    <div class="footer-widgets-wrapper blue">
      <div class="o-layout">
        <div class="o-layout__item u-1/1 u-2/3@tablet">

        <h5 class="white">Contact</h5>
        {% include contact-block.html %}

      <p>

        <a class="icon icon--facebook white" target="_blank" href="http://www.facebook.com/insiderlondon">Facebook</a>

        <a class="icon icon--linkedin white" target="_blank" href="https://www.linkedin.com/company/insider-london">LinkedIn</a>

        <a class="icon icon--trip-adviser white" target="_blank" href="https://www.tripadvisor.co.uk/Attraction_Review-g186338-d2026396-Reviews-Insider_London_Day_Tours-London_England.html">TripAdvisor</a>
      </p>
      <p class="muted">
        Insider London, Huckletree Shoreditch, 18 Finsbury Square, Alphabeta Building, London EC2A 1AH
      </p>
        </div>
          <div class="o-layout__item u-1/2 u-1/3@tablet">
            <h4 class="white">Information</h4>
            <ul class="product-categories o-list-bare">
              <li>
                <a class="white" href="/contact-us/">Contact Us</a>
              </li>
              <li>
                <a class="white" href="/terms-of-business/">Terms of Business</a>
              </li>
              <li>
                <a class="white" href="/privacy-policy/">Privacy Policy</a>
              </li>
            </ul>
          </div>



        </div>


        </div>
        <p class="muted">All Rights Reserved © Insider London</p>

    </div>

</footer>
