<header class="u-padding-top-small">

  <div class="o-wrapper u-padding-bottom-small u-padding-left-small u-padding-right-small u-padding-left@desktop u-padding-right@desktop">
    <div style="display:flex;align-items:center;">

      <a class="lap-and-up-mv-" title="London Walking Tours" href="/">
        <strong>Insider London</strong>
      </a>
      <div style="margin-left:auto">
        <img src="/assets/images/menu.svg" width="24" class="u-margin-right-small" />
        <img src="/assets/images/phone-call.svg" width="24" class="u-margin-right-small"/>
        <img src="/assets/images/mail.svg" width="24" />
      </div>
    </div>
  </div>

  <nav class="c-scroll-nav u-padding-top-small u-padding-bottom-small">
    <div class="c-scroll-nav__inner">
      <div class="c-scroll-nav__container u-padding-bottom-small u-padding-left-small u-padding-right-small">
        {% assign pages = site.data.navigation  %}
        {% for page in pages %}
          {% if page.title %}
            <a class="c-scroll-nav__link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title | escape }}</a>
          {% endif %}
        {% endfor %}
      </div>
      <div class="c-scroll__fade c-scroll__fade--before"></div>
      <div class="c-scroll__fade c-scroll__fade--after"></div>
    </div>
  </nav>
</header>
