<div id="header-wrapper">
  <header class="header">
    <nav class="site-nav">
      <div class="wrapper">
        <ul class="site-nav__list">

          <li class="site-nav__item">
            <a class="site-nav__link" href="/">Home</a>
          </li>
          <li class="site-nav__item">
            <a class="site-nav__link" href="/product-category/tours/">Tours</a>
            <ul class="sub-menu" style="display:none">
              <li>
                <a href="/product-category/hidden-tours/">Hidden Tours</a>
              </li>
              <li class="site-nav__item">
                <a class="site-nav__link" href="/product-category/educational-tours/">Educational Tours</a>
              </li>
            </ul>
          </li>
          <li class="site-nav__item">
            <a class="site-nav__link" href="/about-us/">About Us</a>
          </li>
          <li class="site-nav__item site-nav__item--logo">
            <a class="site-nav__link" title="London Walking Tours" href="/">
              <img alt="London Walking Tours" src="/assets/images/insider-logo.png" />
            </a>
          </li>          
          <li class="site-nav__item">
            <a class="site-nav__link" href="/gift-vouchers/">Gift Vouchers</a>
          </li>
          <li class="site-nav__item">
            <a class="site-nav__link" href="/special-occasions/">Occasions</a>
          </li>
          <li class="site-nav__item">
            <a class="site-nav__link" href="/blog/">Blog</a>
          </li>
          <li class="site-nav__item site-nav__item--menu-toggle">
            Menu
            <button id="menu-toggle" class="menu-toggle__button" type="button">
              <span class="menu-toggle__icon--bar"></span>
              <span class="menu-toggle__icon--bar"></span>
              <span class="menu-toggle__icon--bar"></span>
            </button>
          </li>
        </ul>
      </div>
    </nav>
  </header>
</div>
