    <h2>Related Tours</h2>
{% if content and page.related %}
<div class="layout">{% assign loopindex = true %}{% for post in site.posts %}{% if page.related contains post.id %}{% unless post.id == page.id %}<div class="layout__item u-1/3-desk u-1/3-lap u-1/2-palm">
        <div class="block block--flush lap-mb palm-mb">
            <a class="block__image" href="{{ post.permalink }}">
              <img src="{{ post.thumb }}" class="" alt="">
            </a>
            <div class="block__body red-bg palm-p- lap-p- desk-p-">
              <div class="block__tour">
              <h5>
                <a href="{{ post.permalink}}">{{ post.title }}</a>
              </h5>
              {% if post.price %}
              <p class="product-price">
                  <strong>
                    From: £{{ post.price }}
                  </strong>
              </p>
              {% endif %}
              <a class="" href="{{ post.permalink }}">View</a>
            </div>
          </div>
        </div>
      </div><!--
-->{% endunless %}{% endif %}{% endfor %}</div>{% endif %}
