{% assign maxRelated = 4 %}
{% assign relatesPosts = 0 %}

{% for post in site.posts %} {% comment %} Iterate over all posts {% endcomment %}

  {% if relatesPosts == maxRelated %}
    {% break %}
  {% endif %}

  {% for tag in post.tags %} {% comment %} Iterate over all tags for this post {% endcomment %}
    {% if page.tags contains tag %} {% comment %} If page tags array contains a tag from the current post tag {% endcomment %}
      {% assign relatesPosts = relatesPosts | plus: 1 %} {% comment %} Increment the relatPosts counter {% endcomment %}
      {% capture tagmarkup %}
        <li class="palm-mb lap-and-up-mb">
          <a href="{{ post.permalink }}">
            {% if post.heading %}
              {{ post.heading }}
            {% else %}
              {{ post.title }}
            {% endif %}
          </a>
          <br />
          {% if post.description %}
            <span class="small">
              {{ post.description }}
            </span>
          {% endif %}
        </li>
      {% endcapture %}
      {% assign commonTags = commonTags | append: tagmarkup %}
    {% endif %} {% comment %} End of if page.tags contains tag {% endcomment %}
  {% endfor %}
{% endfor %}

{% if commonTags %}
  <div class="box box--highlight palm-mb lap-mb desk-mb">
    <h3 class="palm-mt0 lap-and-up-mt0">From our blog</h3>
    <ul class="list-bare">
      {{ commonTags }}
    </ul>
  </div>
{% endif %}
