<div class="related-products-container woocommerce">
  <div class="related products">
    <h2 class="border-title">
      <span>Related Tours</span>
    </h2>
    <ul class="products">
{% if content and page.related %}
{% assign loopindex = true %}

      {% for post in site.posts %}
      {% if page.related contains post.id %}
      {% unless post.id == page.id %}
      <li class="{% if loopindex %} first{% assign loopindex = false %}{% endif %} post-29332 product type-product status-publish has-post-thumbnail product_cat-educational-tours product_cat-tours pif-has-gallery virtual sold-individually shipping-taxable purchasable product-type-booking product-cat-educational-tours product-cat-tours instock">
        <div class="dt-sc-one-third column in-stock-product">
        <div class="product-wrapper">
          <div class="product-thumb">
            <a href="{{ post.permalink }}">
              <img src="{{ post.thumb575x545 }}" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="" height="545" width="575">
            </a>
              <div class="product-content">
                <a href="{{ post.permalink }}">Read more</a>
              </div>
            </div>
            <h3>{{ post.title }}</h3>
            <div class="product-details">
              <h5>
                <a href="{{ post.permalink}}">{{ post.title }}</a>
              </h5>
              {% if post.price %}
              <p class="product-price">
                  <strong>
                    From: £{{ post.price }}
                  </strong>
              </p>
              {% endif %}
              <a class="viewtourbutton" href="{{ post.permalink }}">View</a>
            </div>
          </div>
        </div>
      </li>
      {% endunless %}
      {% endif %}
      {% endfor %}
      {% endif %}

    </ul>
  </div>
</div>
