{% if page.gallery %}
  <div class="slider js_slider palm-mb lap-and-up-mb" id="slideshow">
    <div class="frame js_frame">
      <ul class="slides js_slides list-bare">
          {% for gal in page.gallery %}
            {% if gal.image %}
              <li class="js_slide">
                  <img src="{{ gal.image }}" alt="" data-aspect-ratio="{{ img.ratio }}" />
                  {% if gal.caption %}
                    {{ gal.caption }}
                  {% endif %}
              </li>
            {% endif %}
          {% endfor %}
      </ul>
    
    </div>
  </div>
{% endif %}
