<div class="block block--flush lap-mb palm-mb desk-mb">
  <a class="block__image" href="{{ post.permalink }}">
    {% include image.html src=post.thumb srcset=post.thumbsrcset  caption="" %}
  </a>
  <div class="block__body red-bg palm-p-- lap-p- desk-p-">
    <div class="block__tour palm-p-- lap-p- desk-p-">
      <h2 class="white">{{ post.title }}</h2>
      {% if post.price %}
      <p class="product-price">
        <strong>
          From: £{{ post.price }}
        </strong>
      </p>
      {% endif %}
      <a class="btn btn--small" href="{{ post.permalink }}">View Tour</a>
    </div>
  </div>
</div>
