<div class="box box--highlight palm-mb lap-mb desk-mb">

  <noscript>Your browser must support JavaScript in order to make a booking.</noscript>

  <div id="wc-bookings-booking-form" class="wc-bookings-booking-form" data-tourid="{{ page.trekksoft-tour-id }}">
    <h3 class="palm-mt0 lap-and-up-mt0">Book now</h3>
    <p class="palm-mt0 lap-and-up-mt0">Book tickets online for this tour using our secure online ticket reservation system.</p>
    <p>
      <a id="BookNow" class="btn btn--full btn--red" href="#">
      Buy tickets <small>(from: £{{ page.price }})</small>
    </a>
    </p>
  </div>
</div>
