<div class="block block--flush lap-mb palm-mb desk-mb">
<a class="block__image" href="{{ tour.url }}">{% include image.html src=tour.thumb srcset=tour.thumbsrcset caption="" %}</a>
<div class="block__body red-bg palm-p-- lap-p- desk-p-">
<div class="block__tour palm-p-- lap-p- desk-p-">
<h2 class="white">
{% if tour.heading %}
{{ tour.heading }}
{% else %}
{{ tour.title }}
{% endif %}
</h2>
{% if tour.price %}
<p class="product-price">
<strong>
From: £{{ tour.price }}
</strong>
</p>
{% endif %}
<a class="btn btn--small" href="{{ tour.url }}">View Tour</a>
</div>
</div>
</div>
