<div class="o-box  c-box--highlight">

  <noscript>Your browser must support JavaScript in order to make a booking.</noscript>

  <div id="wc-bookings-booking-form" class="wc-bookings-booking-form">
    <h3 class="palm-mt0 lap-and-up-mt0">Enquire now</h3>
    <p class="palm-mt0 lap-and-up-mt0">
      Our packages can be arranged for any date or time. Furthermore, we are happy to create a bespoke programme to reflect your specific needs.
    </p>

    <ul class="list-bare u-margin-bottom-none">
      <li>
        <a class="btn btn--full btn--red palm-mb- lap-and-up-mb" href="#footer">
          Enquire now
        </a>
      </li>
      <li>
        <strong>@</strong>
        <a href="mailto:contact@insider-london.co.uk" onclick="gtag('event', 'Click', { 'event_category': 'Email' });">
          contact@insider-london.co.uk
        </a>
      </li>
      <li>
        <strong>T</strong>
        <a href="tel:442071831055" onclick="gtag('event', 'Click', { 'event_category': 'Call' });">
          +44 (0) 20 7183 1055
        </a>
      </li>
      <li>
        <strong>M</strong>
        <a href="tel:447869678717" onclick="gtag('event', 'Click', { 'event_category': 'Call' });">
          +44 (0)78 6967 8717
        </a>
      </li>
    </ul>
  </div>
</div>
