/*------------------------------------*\
    #TYPE
\*------------------------------------*/
/**
 * Typographical base selectors.
 */
/**
 * Headings 1–6.
 */

 @font-face {
 	font-family: '33535gillsansmt';
 	src: url('/assets/fonts/33535gillsansmt.eot');
 	src: local('/assets/fonts/33535gillsansmt'), url('/assets/fonts/33535gillsansmt.woff') format('woff'), url('/assets/fonts/33535gillsansmt.ttf') format('truetype');
 }

@include headings() {
  color: $color-headings;
  text-transform: uppercase;
  font-family: '33535gillsansmt';
}

.tagline {
  background-color: #fff;
  padding: $inuit-base-spacing-unit--small;
}

.white {
  color: $color-white;
}

.blue {
  color: $color-blue;
}

.text-centre {
  text-align: center;
}

strong {
  color: $color-black;
  font-weight: 700;
}

.blue-twitter-bg {
  background: $color-twitter-light-blue;
}

.blue-facebook-bg {
  background: $color-facebook-blue;
}

.green-trip-advisor {
  background: #00af87;
}
