/*------------------------------------*\
    #LINKS
\*------------------------------------*/

a {
    text-decoration: none;
    color: $brand-blue;

    @include attention() {
        text-decoration: underline;
    }
}
