html {
  font-family: "Open Sans",Helvetica, sans-serif;
}

.red-bg {
  background-color: $brand-color;
}

figure {
  margin: $inuit-base-spacing-unit 0;

  @include media-query(lap-and-up) {
    margin: $inuit-base-spacing-unit;
  }

}

figcaption {
  padding: $inuit-base-spacing-unit--small;
  font-style: italic;
  background: $color-blue;
  color: white;
  @include inuit-font-size(12px);
}

.hidden-palm {
  @include media-query(palm) {
    display:none;
  }
}
.hidden-wide {
  @include media-query(lap-and-up) {
    display:none;
  }
}

#CDSWIDSSP {
  width: 100% !important;
}
