.hero {
  position: relative;
  background-color: rgba($color-blue,0.9);

  // Padding to accomodate 'fixed' header
  padding-top: 132px;

  @include media-query(lap) {
    padding-top: 168px;
  }

  @include media-query(desk) {
    padding-top: 180px;
  }
}

.hero__image {
  opacity: 0.6;
}

.hero__content {
  position: absolute;
  top: 136px;
  @include media-query(lap) {
    top: 168px;
  }

  @include media-query(desk) {
    top: 180px;
  }

  text-align: center;
  width: 100%;
}

.hero__title {

  color: $color-white;
  font-weight: 700;

  @include media-query(palm) {
    @include inuit-font-size(20px);
  }


}

.homepage-intro {
  background-color: $color-brand;
  color:$color-white;
  a {
    color:$color-white;
    font-weight:bold;
  }
}
