#header-wrapper {
  box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
  width: 100%;
  margin: 0px;

  background: $color-blue;

  @include media-query(lap-and-up) {
    background: $color-blue url('/assets/images/bg-top-red.png') center top no-repeat;
  }

  @include media-query(lap-and-up) {
    background-position: center -18px;
  }

}

.telephone {
  font-weight: 700;

  text-align:center;


  @include inuit-font-size(12px);

  @include media-query(lap-and-up) {
    text-align:left;  
  }
  @include media-query(desk) {
    @include inuit-font-size(14px);
  }

  color: $color-white;


}

.telephone__landline {
  @include media-query(palm) {
    padding-right:12px;
  }

}

.dt-menu-toggle {
  display: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 15px;
  cursor: pointer;
  margin: 6px 0px 0px;
  background: transparent !important;
}

.dt-menu-toggle-icon {
  background: #fff;
  display: inline-block;
  float: right;
  height: 2px;
  margin-top: 14px;
  position: relative;
  text-align: left;
  width: 20px;
}

.dt-menu-toggle-icon:before,
.dt-menu-toggle-icon:after {
  content: "";
  position: absolute;
  background: #fff;
  height: 2px;
  width: 20px;
  left: 0px;
  top: -5px;
}

.dt-menu-toggle-icon:after {
  top: 5px;
}
