/**
 * (optional) define here the style definitions which should be applied on the slider container
 * e.g. width including further controls like arrows etc.
 */
.slider {}

.frame {

    position: relative;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}

.slides {
    display: block;
}

.js_slide {
    position: relative;
    display: inline-block;
    width: 100%;
}

.prev, .next {
    position: absolute;
    top: 0;
    bottom: 0;
    display: block;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: rgba($color-blue, 0.3);
}

.next {
    right: 0;
}

.prev {
    left: 0;
}

.next svg, .prev svg {
    width: 24px;

}

.slider {
  figure {
    margin:0;
  }
}
