#footer .double_fieldsend {
  float: left;
  width: 100%;
}

#footer {
  background-size: cover!important;
}
footer .product-categories li {
  padding: 0!important;
}

footer .product-categories li * {
  color: #fff!important;
}

#footer .widget ul.dt-sc-social-icons li a {
  float: left;
  position: relative;
  z-index: 999999;
}
#footer {
  float: left;
  width: 100%;
  margin: 0px;
  padding: 0px;
  position: relative;
  line-height: 28px;
}

#footer,
#footer .widget.widget_text ul li a {
  color: #000;
}

#footer p {
  line-height: 22px;
}

#footer p {
  font-size: 13px;
  color: #fff;
}

#footer .widget ul li a:hover {
  color: #fff;
}

#footer .widget ul.dt-sc-social-icons li a:hover {
  color: #fff;
}


.footer-widgets-wrapper {
  padding: 10px 0px 20px 0px;
  float: left;
  clear: both;
  margin: 100px 0px 0px 0px;
  width: 100%;
  position: relative;
  z-index: 1;
  background: rgba(25,46,81,0.7);
}

.footer-widgets-wrapper .widgettitle {
  background: #222;
  border-bottom: 0;
  font-weight: normal;
}

.footer-widgets-wrapper .widgettitle:after {
  content: none;
}

.footer-widgets-wrapper .widgettitle span {
  background: #111;
  padding: 15px;
  display: inline-block;
  margin-right: 20px;
  color: #fff;
  position: relative;
  min-height: 48px;
  display: none;
}

.footer-widgets-wrapper .widgettitle span:after {
  border-bottom: 10px solid transparent;
  border-left: 10px solid #111;
  border-top: 10px solid transparent;
  content: "";
  position: absolute;
  right: -10px;
}

#footer .widgettitle {
  font-size: 16px;
  color: #fff;
  font-family: 'motor_oil_1937_m54regular';
  text-transform: uppercase;
  margin-bottom: 15px;
  color: #fff;
  background: transparent;
  margin: 0px;
  padding: 0px 0px 10px 0px;
}

#footer .widget.widget_nav_menu ul li {
  float: left;
  clear: both;
  border: none;
  line-height: 21px;
}

#footer .widget.widget_nav_menu ul li a {
  color: #fff;
}

.widget.widget_nav_menu ul li {
  padding-left: 0px;
}

#footer .widget ul li::before {
  content: inherit !important;
}

.dt-sc-social-icons li a {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  cursor: pointer;
}

#footer .copyright {
  background: #fff;
  text-align: center;
  width: 100%;
  clear: both;
  margin: 0px;
  padding: 15px 0px;
  float: left;
  color: #4d4d4d;
  font-size: 12px;
  border-top: 1px solid #e6e6e6;
}

#footer .copyright p {
  float: right;
  margin-bottom: 0;
  line-height: 28px;
}

#footer {
  background: url(/assets/images/bg-contact.jpg) no-repeat top center;
  width: 100%;
  float: left;
  clear: both;
  padding: 70px 0px 0px 0px;
  margin: 40px 0px 0px 0px;
}

#footer .contactblockclass {
  background: #fff;
  border: 10px solid #000;
  border-radius: 6px;
}

#footer .contactblockclass p#title {
  font-size: 50px;
  line-height: 50px;
  color: #191916;
  text-transform: uppercase;
  margin: 0px;
  padding: 10px 0px 20px 0px;
}

#footer .contactblockclass p#title span.red {
  color: #ff2533;
}

#footer .contactblockclass h3 {
  border-top: 3px solid #000;
  clear: both;
  color: #ff2533;
  font-family: "motor_oil_1937_m54regular";
  font-size: 25px;
  margin: 0px -20px 0;
  overflow: hidden;
  padding: 20px 0 0 20px;
  text-transform: uppercase;
}


#footer input, textarea {
  border: #ccc 1px solid;
  padding: 10px 2%;
  font-size: 16px;
  font-family: arial;
  text-transform: uppercase;
  color: #5a5a5a;
  background: #fff;
  margin: 0px 0px 12px 0px;
  float: left;
  width: 100%;
  box-shadow: 3px 3px 0px 0px #dedede;
}

#footer .double_field .your-email input,
#footer .double_field .your-subject input {
  float: right;
}


#footer .double_fieldsend input {
  background: none repeat scroll 0 0 #192e51;
  color: #fff;
  float: right;
  font-family: "motor_oil_1937_m54regular";
  margin: 0px 0px 15px 0px !important;
  text-transform: uppercase;
  width: 30% !important;
  font-weight: normal;
  box-shadow: 3px 3px 0px 0px #dedede;
}

#footer .double_fieldsend input:hover {
  background: #e4162f;
}

.footer-widgets-wrapper .textwidget {
  line-height: 16px;
  color: #fff;
}

.copyright {
  background: #e4162f !important;
  border-top: 5px solid #fff !important;
}

#footer .copyright p.left {
  float: left;
  color: #fff;
}


@media screen and (max-width:767px) {
  #main-menu ul.menu>li>a {
    width: 125px;
    font-size: 13px;
  }

  .product .woocommerce-tabs,
  .product .product-thumb-wrapper {
    width: 100%!important;
  }

  .top-bar .dt-sc-contact-info,
  #header .top-bar .dt-sc-social-icons {
    width: 100%;
  }

  #footer .double_field input {
    width: 100%;
  }

  #footer .double_fieldsend input {
    width: auto;
  }

  #footer .contactblockclass h3 {
    font-size: 20px;
  }

  #footer .copyright p.left {
    float: none;
    clear: both;
  }

  .tourborder h2 {
    font-size: 25px;
    line-height: 25px;
  }

  .firtfourtoursslider .wpb_wrapper {
    margin: 7px 0px;
  }

  #footer {
    padding: 30px 0 0;
  }
}
