/*------------------------------------*\
    #WRAPPERS
\*------------------------------------*/

.wrapper {
    padding-left: halve($inuit-base-spacing-unit);
    padding-right: halve($inuit-base-spacing-unit);

    @include media-query(lap) {
      padding-left: $inuit-base-spacing-unit;
      padding-right: $inuit-base-spacing-unit;
      max-width: 1060px;
      margin: 0 auto;
    }
    @include media-query(desk) {
      max-width: 1200px;
      margin: 0 auto;
      padding-left: $inuit-base-spacing-unit;
      padding-right: $inuit-base-spacing-unit;

    }
}

/**
 * This is a bit of a magic number; a wrapper this wide will allow us to ‘hang’
 * one icon out of the rest of the page’s ‘grid’. It is used primarily on the
 * home page promo boxes.
 */
.wrapper--wide {
    max-width: 1276px;
}

.page-wrap {
  position:absolute;
  width:100%;
  transition: left 0.3s ease;
  left:0;

}
