/*------------------------------------*\
    #WRAPPERS
\*------------------------------------*/

.wrapper {
    max-width: 1060px;
    margin: 0 auto;
}

/**
 * This is a bit of a magic number; a wrapper this wide will allow us to ‘hang’
 * one icon out of the rest of the page’s ‘grid’. It is used primarily on the
 * home page promo boxes.
 */
.wrapper--wide {
    max-width: 1276px;
}

.page-wrap {
  position:absolute;
  width:100%;
  transition: left 0.3s ease;
  left:0;

}
