///*------------------------------------*\
//    #COLORS
//\*------------------------------------*/

$color-brand:       $brand-color;
$color-blue:        #192e51;
$color-gray:        #666;
$color-gray-light:  #989898;
$color-gray-ui:     #ddd;
$color-green:       #228f7b;
$color-purple:      #6561a9;
$color-highlight:   #fff;
$color-tint:        #f2f2f2;
$color-positive:    #3f990f;
$color-negative:    #9f102e;
$color-white:       #fff;
// Page
$inuit-base-background-color:   $color-white;
$inuit-base-text-color:         #000;


// Headings
$color-headings:    $color-blue;
$color-heading-sub: $color-gray;


// Boxes
$color-box-highlight-background:    $color-highlight;
$color-box-highlight-border:        $color-blue;
$color-box-tint-background:         $color-tint;

// Buttons
$colour-btn: $color-white;
