///*------------------------------------*\
//    #COLORS
//\*------------------------------------*/

$color-blue:        #192e51;
$color-gray:        #ddd;
$color-gray-light:  #f7f7f7;
$color-gray-ui:     #ddd;
$color-green:       #228f7b;
$color-purple:      #6561a9;
$color-highlight:   #fff;
$color-tint:        #f2f2f2;
$color-positive:    #3f990f;
$color-negative:    #9f102e;
$color-white:       #fff;
$color-red:         #e4162f;

// Page
$inuit-base-background-color:   $color-white;
$inuit-base-text-color:         #333;

$color-black:       $inuit-base-text-color;

// Headings
$color-headings:    $color-blue;
$color-heading-sub: $color-gray;

// Share icons bg colors
$color-twitter-light-blue: #009fe3;
$color-facebook-blue: #273583;

// Boxes
$color-box-highlight-background:    $color-highlight;
$color-box-highlight-border:        $color-blue;
$color-box-tint-background:         $color-tint;

// Buttons
$colour-btn: $color-white;
