.hero {
  &:before {
    position: absolute;
 content:" ";
 top:0;
 left:0;
 width:100%;
 height:100%;
 display: block;
 z-index:0;
 background-color: rgba($color-blue,0.5);
  }
  position: relative;





}


.hero__content {
  position: absolute;
  //display:flex;
  //flex-direction:column;
  height: 100%;
  color: white;
  align-items: center;
  top: 0;
  @include inuit-font-size(24px, $modifier:+1);
  padding-left: $inuit-global-spacing-unit-small;
  padding-right: $inuit-global-spacing-unit-small;
  padding-top: $inuit-global-spacing-unit-huge;
  a {
    padding: $inuit-global-spacing-unit-small;
    border: 1px solid white;
    text-decoration: none;
    font-size: 18px;
    color: white;
    font-weight:bold;
    display: block;
    @include mq($from: tablet) {
      display: inline;
    }
    text-align: center;
  }

  @include mq($from: tablet) {
    padding-left: $inuit-global-spacing-unit;
    padding-right: $inuit-global-spacing-unit;
    max-width: 66%;
  }

  @include mq($from: wide) {
    left: calc((100vw - 1152px) / 2);
    padding-left: 0;
    padding-right: 0;
    max-width: 33%;
  }
}

.hero__title {

  color: $color-white;
  font-weight: 700;

  @include mq(mobile) {
    @include inuit-font-size(20px);
  }


}
