---
layout: compress
---

<!DOCTYPE html>
<html>

  {% include head.html %}

  {% assign segments = page.url | split: '/' %}

  <body class="{{ segments[1] }}">
    <!-- Include the svg logo sets -->

    {% include header.html %}

      {{ content }}

    {% include footer.html %}

    {% include tour-enquiry-sticky.html %}

    <!-- Look at loading scripts only where needed -->
    <script type="text/javascript" async src="{{ "/js/picturefill.min.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ "/js/nav-04-12-19.js" | prepend: site.baseurl }}"></script>

    <!-- Uh oh, need to tidy this up i.e. remove -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://player.vimeo.com/api/player.js"></script>
    <script type="text/javascript" src="{{ "/js/modal-10-12-19.js" | prepend: site.baseurl }}"></script>

    <script type="text/javascript">
      $(document).ready(function() {
        $('.slideshow').each(function(){
          var slickInduvidual = $(this);
          slickInduvidual.slick({
            autoplay: true,
            dots: true
          });
        })
      });
    </script>

  </body>
