---
layout: compress
---

<!DOCTYPE html>
<html>

  {% include head.html %}
  
  {% assign segments = page.url | split: '/' %}

  <body class="{{ segments[1] }}">
    <!-- Include the svg logo sets -->

    {% include header.html %}

        {{ content }}

    {% include footer.html %}
    <script type="text/javascript" src="{{ "/js/nav.js" | prepend: site.baseurl }}" defer></script>
    <script type="text/javascript" src="{{ "/js/modal.js" | prepend: site.baseurl }}" defer></script>
  </body>

<!-- Linked in 'insight' tag -->
<script type="text/javascript"> _linkedin_partner_id = "405745"; window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || []; window._linkedin_data_partner_ids.push(_linkedin_partner_id); </script><script type="text/javascript"> (function(){var s = document.getElementsByTagName("script")[0]; var b = document.createElement("script"); b.type = "text/javascript";b.async = true; b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js"; s.parentNode.insertBefore(b, s);})(); </script> <noscript> <img height="1" width="1" style="display:none;" alt="" src="https://dc.ads.linkedin.com/collect/?pid=405745&fmt=gif" /> </noscript>
</html>
