---
layout: default
---

<article class="post">
  <header class="post-header bg-gray">
    <div class="breadcrumb-wrapper ">
      <div class="o-wrapper u-padding-left-small u-padding-right-small u-padding-left@tablet u-padding-right@tablet">
        {% include pagenav.html %}
      </div>
    </div>
  </header>
  <div class="{% if page.background %}u-landing-background white{% endif %} u-padding-top-large" {% if page.background %}style="background-image:linear-gradient(rgba(25,46,81,0.75), rgba(25,46,81,0.75)),url('/assets/images/landing-pages/{{ page.background }}'){% endif %}">
    <div class="o-wrapper u-padding-left-small u-padding-right-small u-padding-left@tablet u-padding-right@tablet">
      {% include breadcrumbs.html %}
      <div class="o-layout">
        <div class="o-layout__item u-2/3@desktop">
          <div class="content">
            <h2 class="u-h1">{{ page.title }}</h2>
            {{ content }}
          </div>
          {% include repeatpagenav.html %}

        </div>
        <div class="o-layout__item u-1/3@desktop">
          {% include tour-enquiry.html %}
        </div>
      </div>
    </div>
  </div>
</article>
