---
layout: default
---

  <article class="post">
    <header class="post-header bg-gray u-padding-vertical u-margin-bottom">
      <div class="breadcrumb-wrapper ">
        <div class="o-wrapper u-padding-left-small u-padding-right-small u-padding-left@tablet u-padding-right@tablet">
          <h1 class="u-h4 u-margin-bottom-none">
            {% if page.heading %}
              {{ page.heading }}
            {% else %}
              {{ page.title }}
            {% endif %}
          </h1>
        </div>
      </div>
    </header>
    <div class="o-wrapper u-padding-left-small u-padding-right-small u-padding-left@tablet u-padding-right@tablet">
      {% include breadcrumbs.html %}
      {{ content }}
    </div>
  </article>
