---
layout: default
---

{% assign author = site.authors | where: 'title', page.author | first %}

<div class="wrapper">
  <header class="post-header">
    <h1 class="" itemprop="name headline">
      {% if page.heading %}
        {{ page.heading }}
      {% else %}
        {{ page.title }}
      {% endif %}
    </h1>
  </header>
  <div class="layout">
    <div class="layout__item u-2/3-lap u-3/4-desk">
      <article class="post plam-mb" itemscope itemtype="http://schema.org/BlogPosting">
        <div class="post-content" itemprop="articleBody">
          {{ content }}
        </div>
        <footer>
          {% if author %}
          <div class="media">
            <div class="media__img">
              <img src="{{ author.image }}"/>
            </div>
            <div class="media__body">
              <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                <span itemprop="name">
                  <em>{{ author.title | prepend: 'By '}}</em>
                </span>
              </span>
              &nbsp;&ndash;&nbsp;
              <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                <em>{{ page.date | date: "%b %-d, %Y" }}</em>
              </time>
              <br /><em>{{ author.excerpt | strip_html }}</em>
            </div>
          </div>
          {% else %}
            <p class="post-meta">
              <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                {{ page.date | date: "%b %-d, %Y" }}</time>
            </p>
          {% endif %}

        </footer>
      </article>
    </div><!--
--><div class="layout__item u-1/3-lap u-1/4-desk">
      <p class="palm-mt0 lap-and-up-mt0">
        {% include  share-icons.html %}
      </p>

      {% include blog-side-bar.html %}
    </div>
  </div>
</div>
