---
layout: default
script: 'slick-slider.js'
---

<article class="post">
  <header class="post-header bg-gray u-margin-bottom-large">
    <div class="breadcrumb-wrapper ">
      <div class="o-wrapper u-padding-left-small u-padding-right-small u-padding-left@tablet u-padding-right@tablet">
        <!-- <h1 class="u-h4">
          {% if page.heading %}
            {{ page.heading }}
          {% else %}
            {{ page.title }}
          {% endif %}
        </h1> -->
        {% include pagenav.html %}
      </div>
    </div>
  </header>
  <div class="o-wrapper u-padding-left-small u-padding-right-small u-padding-left@tablet u-padding-right@tablet">
    {% include breadcrumbs.html %}
    <div class="o-layout">
      <div class="o-layout__item u-2/3@desktop">
        <div class="content">
          <h2 class="u-h2">{{ page.heading }}</h2>
          {{ content }}
        </div>
      </div>
      <div class="o-layout__item u-1/3@desktop">
        {% include tour-enquiry.html contactlabel='Sidebar' %}
      </div>
    </div>
  </div>
</article>
