---
layout: default
---

<!--<div id="custom-bg" style="width:100%; margin-top:00px; height:400px; background-size:cover; background-image: url('{{ page.banner }}');background-position: center">
  <div id="custom-bg" style="width:100%; height:400px; background-size:contain; background:rgba(0,0,0,0.3);"> </div>
</div>-->

<div class="wrapper">
  {% include ta-logo.html %}
  <header class="post-header">
    <div class="breadcrumb-wrapper ">
      <div class="container">
        <h1 class="post-title">
          {% if page.heading %}
            {{ page.heading }}
          {% else %}
            {{ page.title }}
          {% endif %}
        </h1>
      </div>
    </div>
  </header>
  <div class="layout">
    <div class="layout__item u-3/5-lap u-2/3-desk">
      <p class="palm-mt0 lap-and-up-mt0">
        <img src="{{ site.imagepath }}{{ page.banner }}" />
      </p>
      <div class="hidden-wide">
        <p class="palm-mt0 lap-and-up-mt0">
          {% include  share-icons.html %}
        </p>
        {% if page.show_book %}
          {% include tour-side-bar.html buttonid="BookNow" %}
        {% endif %}
      </div>
      {{ content }}



    </div><!--
--><div class="layout__item u-2/5-lap u-1/3-desk">
      <p class="palm-mt0 lap-and-up-mt0">
        {% include  share-icons.html %}
      </p>
      {% if page.show_book %} {% include tour-side-bar.html buttonid="BookNow1" %} {% endif %}
      {% include related-posts.html %}
      {% include trip-advisor-widget.html %}
    </div>
  </div>
  {% if page.related %}
  {% include related-tours.html %}
  {% endif %}

</div>
