---
title: Tours
date: 2015-05-11 15:47:17 Z
permalink: "/tours/"
id: 25099
author: london75
layout: page
---

<div class="container archive tax-product_cat term-tours term-75 woocommerce woocommerce-page wpb-js-composer js-comp-ver-4.5 vc_responsive">

<section id="primary" class="content-full-width">
<ul class="products">

{% assign posts = (site.categories.tours) %}
{% for post in posts %}
  {% assign loopindex = forloop.index | modulo: 4 %}
  {% include category-tour.html %}

</li>
{% endfor %}
</ul>
</section>
</div>
